<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Input</title>
</head>
<body>
<form method="POST" th:action="@{/save/{id}(id=${id})}">
    <label for="username">Username</label> <br>
    <input name="username" type="text" id="username"/> <br>
    <label for="password">Password</label> <br>
    <input name="password" type="text" id="password"/> <br>
    <label for="name">Name</label> <br>
    <input name="name" type="text" id="name"/> <br>
    <label for="surname">Surname</label> <br>
    <input name="surname" type="text" id="surname"/> <br>
    <label for="roles">Roles delimited by space</label> <br>
    <input name="roles" type="text" id="roles"/> <br>
    <input type="submit" value="Submit"/>

</form>

<p><a th:href="@{/logout}">Logout</a></p>
</body>
</html>